// Для импорта в диспетчер подключений: @import './src/blocks/page-header/page-header.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-header {
  width: 100%; 
  border-bottom: 1px solid @gray-lightest;
  align-self: flex-start;
}
.logo {
  padding-top: 34px;
}

.header-phone {
  padding-top: 26px;

  &_comment {
    font: normal 16px/19px 'helveticaneuecyrroman', Helvetica;
    color: @gray-lightly;
  }

  &_number {
    font: 200 30px/32px 'helveticaneuecyr', Helvetica;
  }

  &_number-link, &_number-link:hover {
    color: #3c3c3c;
    text-decoration: none;
  }

}
