.section {
  padding-bottom: 90px;
  padding-top: 20px;

  &--without-header {
    padding-top: 80px;
  }

  &--bright {
    background-color: @color-highlight;
    color: @body-bg;
  }

  &--netral {
    background-color: @gray-lightest;
  }

  &_header-wrapper {
    padding: 80px 0 ;
    &--centred {
    text-align: center;
    }
  }

  &_header {
    font: lighter 48px/57px'helveticaneuecyr', Helvetica;
    color: @gray;

    &--light {
      color: #fff;
    }

    &--centred {
      text-align: center;
    }

    &--comment {

    }
  }

}
