.key-promo {
  background: url('../img/key-promo-background.jpg') 0 0 no-repeat;
  background-size: cover;
  height: 641px;
  color: #fff;
  position: relative;

  &_content {
    margin-top: 112px;
    z-index: 10;
    position: absolute;
  }

  &_text {
    font: normal 14px/21px 'helveticaneuecyrroman', Helveica;
    margin: 22px 0 30px;
  }

  &_video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &_video {
    top: 50%;
    left: 50%;
    min-width: 1170px;
    width:100%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}
