.time-line {
  display: flex;
  align-items: center;
  height: 64px;

  &_filter {
    width: 610px;
    height: 64px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }

  &_title {
    width: 140px;
    font: bold 14px/19px 'helveticaneuecyr', Helvetica;
    color: @gray-lighter;
    text-transform: uppercase;
  }
}
