.form {
  padding: 0 46px;
  font: normal 16px/19px  'helveticaneuecyr', Helvetica;

  &_row {
    margin-bottom: 30px;
  }

  &_field-header {
    font: bold 16px/19px  'helveticaneuecyr', Helvetica;
    margin-bottom: 10px;
    display: block;
  }

  &_field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &--double {
      width: 226px;
      box-sizing: border-box;

      &:nth-child(2n+1) {
        margin-right: 16px;
      }
    }

    &--checkbox{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      display: flex;
      align-items: center;
      position: relative;
      margin: 15px 0;
      font: normal 16px/16px 'helveticaneuecyrroman', Helvetica;
    }
    &--additional-inp {
      margin-left: 45px;
      flex-grow: 1;
      align-self: center;
      position: absolute;
      right: 0;
      top: 4px;
      width: 341px;
    }
  }

  &_inp-text {
    margin: 0;
    padding: 11px 11px;
    outline: none;
    border: 1px solid @gray-lightest;
    font: normal 16px/16px 'helveticaneuecyrroman', Helvetica;
    color: @gray-lighter;
    box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.03);

    &--fieldset {
      width: 226px;
      box-sizing: border-box;
    }

    &--full-width {
      width: 100%;
    }

    &--additional {
      width: 100%;
      display: none;
    }

    &::placeholder {
      color: #c7c7c7;
    }
  }

  &_textarea{
    height: 106px;
    max-height: 300px;
    width: 470px;
    max-width: 470px;
    margin: 0px;
    box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid @gray-lightest;
    padding: 11px 11px;
    outline: none;
    font: normal 16px/17px  'helveticaneuecyr', Helvetica;
    color: @gray-lighter;


    &::placeholder {
      color: #c7c7c7;
    }
  }

  &_separator {
    height: 1px;
    background:  @gray-lightest;
    margin: 8px 0 35px 0;
  }

  &_group-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--col {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &--col-2  .form_field,
    &--col-2  .form_field--checkbox {
      width: 50%;
    }
  }

  &_additional-field {
    display: flex;
    align-items: center;
    align-items: flex-start;
    position: relative;
  }

  &_error-label {
    display: block;
    padding: 12px 0;
    font: normal 16px/21px 'helveticaneuecyrroman', Helvetica;
    color: @color-danger;
    width: 100%;

    &--hide {
      padding: 0;
    }
  }
}


.captcha {
  &_refresh {
    color: @color-highlight;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &_pic {
    margin-left: 45px;
  }
}

  .required:after {
    content: '*';
    color: @color-highlight;
    margin-left: 3px;
    font: normal 16px/25px 'helveticaneuecyrroman', Helvetica;
  }

.form * {
  box-sizing: border-box;
}

  /* Validation */


.form_field {

    &:after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 14px;
      right: 14px;
    }

    &.hide-error:after {
      display: none;
    }

}
  .error-pic {
     &:after {
     background: url(/img/cross.png) 0 0 no-repeat;
    }
  }

  .valid-pic {
    &:after  {
      background: url(/img/check-mark.png) 0 0 no-repeat;
    }
  }

// .form_error-label {
//   position: absolute;
//   left: 0;
//   bottom: -40px;
// }


#captcha-error {
  margin-top: -18px;
}
