.popup{
  display: block;
  width: 416px;
  padding: 24px 33px 33px;
  background: #fff;
  margin: auto;
  position: relative;
  border: 1px solid @gray-lightest;
  box-sizing: content-box;

  &_header {
    margin: 0 0 20px 0;
    font: 200 36px/57px 'helveticaneuecyr', Helvetica;
    padding-right: 50px;
  }

  & p {
    font: normal 16px/23px 'helveticaneuecyrroman', Helvetica;
  }

  &--wide {
    width: 504px;
    padding-bottom: 0;
  }
}

.popups {
  display: none;
}


.close-big {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 39px;
  top: 62px;
  cursor: pointer;

  &::before,
  &::after  {
    content: '';
    height: 1px;
    width: 46px;
    background-color:  @gray-lightest;
    position:  absolute;
  }
  &::before {
    transform: rotate(-45deg);
    top: 16px;
    left: -4px;
  }
  &::after {
    transform: rotate(45deg);
    top: 16px;
    left: -3px;
  }
}
